body {
  line-height: 1.6;
  background-color: white;
  font-family: sans-serif;
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  grid-template-rows: auto;
  grid-template-columns: 0.1fr 4fr 1fr 0.1fr;
  grid-template-areas:
    ". header header ."
    ". nav nav ."
    ". section section ."
    ". footer footer .";
}
p{
  margin: 0px;
}


header{
  grid-area: header;
  background-color: #fefdea;
  padding: 30px;
  text-align: center;
}


nav{
  grid-area: nav;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
nav a{
  float: left;
  font-size: 16px;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
.dropdown{
  float: left;
  overflow: hidden;
  text-align: center;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #f2f2f2;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;

}
nav a:hover, .dropdown:hover .dropbtn{
  background-color: #ddd;
  color: black;
  transition: 0.4s;

}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}

section{
  grid-area: section;
  padding: 20px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.35);
  background-color: #fefdea;
}

footer{
  grid-area: footer;
  text-align: center;
  background-color: #fefdea;
  border-top: 3px solid #d0d2d2;
}



/* NOTE:responsive ab hier */

@media screen and (max-width: 800px) {
  body {
    width: 100%;
    padding: 0;
    grid-template-areas:
      ". header header ."
      ". nav nav ."
      ". section section ."
      ". footer footer .";
  }
  nav{
    grid-area: nav;
    display: grid;
  }
}
