body {
  line-height: 1.6;
  background-color: #ebebeb;
  font-family: sans-serif;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 0.5fr 2fr 3fr 0.5fr;
  grid-template-areas: ". header header ."
    ". aside section ."
    ". footer footer .";
}

h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  text-align: left;
  padding-left: 20px;
}

p {
  margin: 0;
  padding: 0;
}

.small-titel {
  font-size: 1.33em;
  font-weight: bold;
}

.big-titel {
  font-size: 1.7em;
  font-weight: bold;
}

.data {
  padding-bottom: 20px
}

hr {
  border: 1px solid #d0d2d2;
}

ul {
  padding-left: 35px;
  margin: 0;
}

header {
  grid-area: header;
  background-color: #fefdea;
  border-bottom: 3px solid #d0d2d2;
}

aside {
  grid-area: aside;
  background-color: #fefdea;
  border-right: 3px solid #d0d2d2;
}

section {
  grid-area: section;
  background-color: #fefdea;
}

footer {
  grid-area: footer;
  background-color: #fefdea;
  text-align: center;
  align-items: center;
}

aside,
section {
  padding: 20px;
}

/* NOTE: Section */
.year {
  font-style: italic;
  vertical-align: top;
}

.description {
  text-align: left;
  padding-bottom: 10px;
}
